body {
    text-align: center;
    background: aliceblue;
  }

  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin: 10px;
  }
  
  #connect4 {
    background-color: skyblue;
    display: inline-block;
  }
  
  .col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 5px;
  }
  
  .col.empty {
    cursor: pointer;
  }
  
  .next-red {
    background-color: red;
  }
  
  .next-black {
    background-color: black;
  }
  
  .col.red {
    background-color: red;
  }
  
  .col.black {
    background-color: black;
  }

  #restart {
    background-color: black;
    width: 150px;
    height: 50px;
    color: snow;
    margin: 10px
  }