body {
    text-align: center;
    background: blanchedalmond;
  }

  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin: 10px;
    /* padding: 5px; */
  }
  
  #connect4 {
    background-color: forestgreen;
    display: inline-block;
  }
  
  .col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: blanchedalmond;
    border-radius: 50%;
    margin: 5px;
  }
  
  .col.empty {
    cursor: crosshair;
  }
  
  .next-red {
    background-color: red;
  }
  
  .next-black {
    background-color: black;
  }
  
  .col.red {
    background-color: red;
  }
  
  .col.black {
    background-color: black;
  }

  #restart {
    background-color: forestgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 200px;
    height: 60px;
    color: snow;
    margin: 5px;
    padding: 5px
  }